#background {
    background-color: #666666;
}

#title-box {
    background-color: #a6a6a6;
    color: #ffa31a;
    padding: 30px;
    font-size: 25px;
    margin-left: 15px;
    display: inline;
    border-radius: 10px; 
}

#title-box #note-text {
    color: #ffa31a;
}

#title-box #able-text {
    color: #80ffff;
}

#navbar {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    padding-right: 30px;
    text-align: right;
    background-color: #666666;
    display: inline-block;
}

#navbar li {
    width: 125px;
    padding: 10px;
    display: inline-block;
    line-height: 40px;
    text-align: center;
}

.nav-button {
    background-color: #cccccc;
    color: #424242;
    border: 1px solid #424242;
    border-radius: 10px;
}

.nav-button:hover {
    background-color: #e0dada;
}

#main-point {
    background-color: #cccccc;
    padding: 20px;
}

#main-point-text {
    color: #ffa31a;
    font-size: 50px;
    text-align: left;
    padding: 2%;
    margin: 1%;
    width: 40%;
    background-color: #a6a6a6;
    display: inline-block;
    border-radius: 10px;
}

#main-point img {
    padding: 2%;
    margin: 1%;
    display: inline-block;
    width: 40%;
}

.sub-point {
    background-color: #cccccc;
    width: 400px;
    height: 400px;
    border-radius: 200px;
    display: inline-block;
    margin: 30px;
}

.sub-point .o-txt {
    background-color: #a6a6a6;
    color: #ffa31a;
    font-size: 30px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    border-radius:10px;
}

.sub-point .t-txt {
    background-color: #a6a6a6;
    color: #80ffff;
    font-size: 30px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    border-radius:10px;
}

#signup-form {
    background-color: #ffc267;
    text-align: center;
    padding: 30px;
    margin: 20px;
    border-radius: 10px;
}

#signup-form span {
    font-size: 24px;
}

.spacer {
    width: 100%;
    height: 200px;
}

.form-entry {
    margin: 10px;
}

#signup-box {
    text-align: center;
    font-size: 30px;
    color: #ffa31a
}

#signup-box iframe {
    width:50%;
    height:300px;
}